.aw-fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.aw-fade.aw-in {
    opacity: 1;
}
.aw-modal-open {
    overflow: hidden;
}
.aw-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.aw-modal.aw-fade .aw-modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.aw-modal.aw-in .aw-modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.aw-modal-open .aw-modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.aw-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.aw-modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0;
}
.aw-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.aw-modal-backdrop.aw-fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.aw-modal-backdrop.aw-in {
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.aw-modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.aw-modal-header .aw-close {
    margin-top: -2px;
}
.aw-modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.aw-modal-body {
    position: relative;
    padding: 15px;
}
.aw-modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.aw-modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.aw-modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.aw-modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.aw-modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .aw-modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .aw-modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .aw-modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .aw-modal-lg {
        width: 900px;
    }
}
.aw-close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}
.aw-close:hover,
.aw-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
button.aw-close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}
