/* 
this would be:
@import "../node_modules/modern-normalize/modern-normalize.css" layer(preflight);
but our css minifier doesn't support this syntax - if we upgrade to webpack 5 then we can
*/
@import "./modern-normalize";
@import "./preflight";
@import "./runner/bootstrap-legacy-v3.scss";
@import "./runner/modal-v3.scss";
@import "./runner/grid-v3.scss";
@import "./runner/alert-v3.scss";
@import "./runner/animate-v3.scss";
@import "./runner/classic_components-v3.scss";
@import "./runner/banner.scss";
@import "./runner/error-indicator.scss";
@import "./runner/loading-spinner.scss";

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/glyphicons-halflings-regular.woff") format("woff"),
        url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
        url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

/* Fix a bootstrap-ism that isn't helpful */
.anvil-form-control,
.anvil-btn {
    font-size: inherit;
}

@media print {
    a[href]:after {
        content: unset;
    }
}

.anvil-disabled,
[disabled] {
    pointer-events: auto !important;
}

.anvil-component[disabled] label {
    cursor: not-allowed;
}

.anvil-runner .anvil-visible-false,
.anvil-runner [anvil-visible-false] {
    display: none !important;
}

/* Any container can have this class to request that what's in it be inline where possible */
span.anvil-inline-container > .anvil-inlinable,
.anvil-always-inline-container > .anvil-inlinable {
    display: inline-block;
}

.anvil-grid-panel {
    overflow-y: auto;
    overflow-x: hidden;
}

.anvil-invalid-component {
    text-align: center;
    padding: 9px;
    border: 1px dashed black;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.anvil-invalid-component i {
    color: #800;
}

.anvil-container-overflow {
    overflow-x: hidden;
}

.anvil-panel-row {
    border: 0px solid black;
    display: flex;
    flex-wrap: nowrap;
}

.anvil-panel-col {
    min-height: 0;
    border: 0px solid red;
    pointer-events: none;
    overflow-x: hidden;
    flex: 60 1 0;
}

.anvil-panel-col > * {
    pointer-events: auto;
}

.anvil-panel-col > .anvil-col-padding {
    position: relative;
}

.anvil-panel-section-container {
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) {
    .anvil-panel-section-container {
        max-width: 750px;
    }
}

@media (min-width: 768px) {
    .anvil-panel-section-container.anvil-full-width-row {
        max-width: none;
    }
}

@media (min-width: 992px) {
    .anvil-panel-section-container {
        max-width: 970px;
    }
}

@media (min-width: 992px) {
    .anvil-panel-section-container.anvil-full-width-row {
        max-width: none;
    }
}

.anvil-panel-section-gutter {
    margin: 0 -15px;
}

.anvil-col-padding.anvil-col-padding-none {
    padding: 0 1px;
    margin: 0 -1px;
}
.anvil-column-panel.anvil-col-padding-none
    > .anvil-panel-section
    > .anvil-panel-section-container
    > .anvil-panel-section-gutter {
    margin: 0 0;
}

.anvil-col-padding.anvil-col-padding-tiny {
    padding: 0 5px;
}
.anvil-column-panel.anvil-col-padding-tiny
    > .anvil-panel-section
    > .anvil-panel-section-container
    > .anvil-panel-section-gutter {
    margin: 0 -5px;
}

.anvil-col-padding.anvil-col-padding-small {
    padding: 0 10px;
}
.anvil-column-panel.anvil-col-padding-small
    > .anvil-panel-section
    > .anvil-panel-section-container
    > .anvil-panel-section-gutter {
    margin: 0 -10px;
}

.anvil-col-padding.anvil-col-padding-medium {
    padding: 0 15px;
}
.anvil-column-panel.anvil-col-padding-medium
    > .anvil-panel-section
    > .anvil-panel-section-container
    > .anvil-panel-section-gutter {
    margin: 0 -15px;
}

.anvil-col-padding.anvil-col-padding-large {
    padding: 0 20px;
}
.anvil-column-panel.anvil-col-padding-large
    > .anvil-panel-section
    > .anvil-panel-section-container
    > .anvil-panel-section-gutter {
    margin: 0 -20px;
}

.anvil-col-padding.anvil-col-padding-huge {
    padding: 0 30px;
}
.anvil-column-panel.anvil-col-padding-huge
    > .anvil-panel-section
    > .anvil-panel-section-container
    > .anvil-panel-section-gutter {
    margin: 0 -30px;
}

@media screen and (max-width: 768px) {
    .anvil-runner .anvil-panel-row.anvil-wrap-mobile {
        flex-wrap: wrap;
    }
    .anvil-runner .anvil-panel-col.anvil-wrap-mobile {
        min-width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .anvil-runner .anvil-panel-row.anvil-wrap-tablet {
        flex-wrap: wrap;
    }
    .anvil-runner .anvil-panel-col.anvil-wrap-tablet {
        min-width: 100%;
    }
}

.anvil-component {
    display: block;
}

.anvil-spacing-above-none {
    margin-top: 0px;
}
.anvil-spacing-above-small {
    margin-top: 5px;
}
.anvil-spacing-above-medium {
    margin-top: 20px;
}
.anvil-spacing-above-large {
    margin-top: 40px;
}
.anvil-spacing-below-none {
    margin-bottom: 0px;
}
.anvil-spacing-below-small {
    margin-bottom: 5px;
}
.anvil-spacing-below-medium {
    margin-bottom: 20px;
}
.anvil-spacing-below-large {
    margin-bottom: 40px;
}

/* For HTML templates */
[anvil-slot-repeat] {
    display: none !important;
}

.anvil-force-hidden {
    display: none !important;
}

.anvil-runner .anvil-designer-only {
    display: none !important;
}

.anvil-runner .anvil-runtime-invisible {
    visibility: hidden;
}

.anvil-form-control {
    /* This used to come from Bootstrap */
    width: 100%;
    box-sizing: border-box;
}

.anvil-component.anvil-form-control,
.anvil-component .anvil-form-control:not(select) {
    height: initial;
}

/* Hacks for specific component types */

select.anvil-form-control {
    /* ew ew ew - select elements are weird and don't obey line-height, so we just
	   set the height explicitly. Ugh. */
    height: calc(1.5em + 14px);
}

.anvil-dropdown > form {
    display: inline-block;
    position: relative;
}

.anvil-datepicker {
    position: relative;
}

.anvil-datepicker .fa-calendar {
    position: absolute;
    bottom: 10px;
    right: 8px;
    top: auto;
    cursor: pointer;
}
.anvil-datepicker .fa-calendar.anvil-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.anvil-datepicker input {
    padding-right: 2em !important;
}

.anvil-component-icon {
    display: none !important;
    line-height: inherit !important;
    width: 1.1em;
    text-align: center;
}

.anvil-component-icon-present .anvil-component-icon.anvil-left.anvil-left-icon,
.anvil-component-icon-present .anvil-component-icon.anvil-left.anvil-left_edge-icon,
.anvil-component-icon-present .anvil-component-icon.anvil-right.anvil-right-icon,
.anvil-component-icon-present .anvil-component-icon.anvil-right.anvil-right_edge-icon {
    display: inline-block !important;
}
.anvil-component-icon-present .anvil-component-icon.anvil-left.anvil-top-icon {
    display: block !important;
}
.anvil-component-icon-present button .anvil-component-icon.anvil-left.anvil-top-icon,
.anvil-component-icon-present.align-center .anvil-component-icon.anvil-left.anvil-top-icon {
    margin: auto;
}
.anvil-component-icon-present.align-right .anvil-component-icon.anvil-left.anvil-top-icon {
    margin-left: auto;
    margin-right: 0;
}
.anvil-component-icon.anvil-left.anvil-left_edge-icon {
    position: absolute;
    left: 0;
}
.anvil-has-text > .anvil-component-icon.anvil-left-icon {
    margin-right: 0.75em;
}
.anvil-has-text > .anvil-component-icon.anvil-right-icon {
    margin-left: 0.75em;
}
.anvil-component-icon.anvil-right.anvil-right_edge-icon {
    position: absolute;
    right: 0;
}

/* LINKS AND LABELS */
a.anvil-component-icon-present.anvil-left_edge-icon,
.anvil-label.anvil-component-icon-present.anvil-left_edge-icon {
    position: relative;
    padding-left: 1.75em;
}
a.anvil-component-icon-present.anvil-right_edge-icon,
.anvil-label.anvil-component-icon-present.anvil-right_edge-icon {
    position: relative;
    padding-right: 1.75em;
}
a > .anvil-component-icon.anvil-left_edge-icon,
a > .anvil-component-icon.anvil-right_edge-icon,
.anvil-label > .anvil-component-icon.anvil-left_edge-icon,
.anvil-label > .anvil-component-icon.anvil-right_edge-icon,
button > .anvil-component-icon.anvil-left_edge-icon,
button > .anvil-component-icon.anvil-right_edge-icon {
    top: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}
.anvil-label > .anvil-label-text,
a > .anvil-link-text {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    white-space: pre-wrap;
}
.anvil-label.anvil-component-icon-present.anvil-top-icon > .anvil-label-text,
a.anvil-component-icon-present.anvil-top-icon > .anvil-link-text {
    padding-top: 0;
}

.anvil-rich-text {
    padding-top: 7px;
    padding-bottom: 7px;
    white-space: pre-wrap;
}

.anvil-form-control::-webkit-input-placeholder {
    color: #aaa;
}
.anvil-form-control:-moz-placeholder {
    color: #aaa;
}
.anvil-form-control::-moz-placeholder {
    color: #aaa;
}
.anvil-form-control:-ms-input-placeholder {
    color: #aaa;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[data-notify="title"] {
    font-weight: bold;
    white-space: pre-wrap;
}
[data-notify="message"] {
    display: block;
    font-size: 90%;
    white-space: pre-wrap;
}

.anvil-file-loader {
    cursor: default;
}

.anvil-file-loader > label {
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
    margin-bottom: 0;
    border: 1px dashed #888;
}

.anvil-file-loader.anvil-disabled {
    color: #ddd;
    opacity: 0.8;
}

.anvil-file-loader.anvil-disabled label {
    cursor: not-allowed;
}

.anvil-modal-body.anvil-alert-text,
.anvil-modal-title.anvil-alert-title {
    white-space: pre-wrap;
}

.anvil-alert-footer-button-panel {
    display: flex !important;
    gap: 7px;
    justify-content: end;
    flex-wrap: wrap;
}

.anvil-data-grid {
    /*border: 1px solid black;*/
}

.anvil-data-grid > .anvil-data-grid-child-panel > div.anvil-auto-grid-header {
    border-bottom: 2px solid #888;
}

.anvil-data-grid > .anvil-data-grid-footer-panel {
    display: flex;
    padding: 7px;
}

.anvil-data-grid > .anvil-data-grid-footer-panel > .anvil-footer-slot {
    flex: 1 0 auto;
}

.anvil-data-grid > .anvil-data-grid-footer-panel > .anvil-pagination-buttons {
}

.anvil-data-grid > .anvil-data-grid-footer-panel > .anvil-pagination-buttons > a {
    display: inline-block;
    padding: 7px;
    margin-left: 7px;
    font-size: 24px;
    line-height: 24px;
}

.anvil-data-grid > .anvil-data-grid-footer-panel > .anvil-pagination-buttons > a.anvil-disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #ddd;
}

.anvil-data-grid > .anvil-data-grid-footer-panel > .anvil-pagination-buttons > a:not(.anvil-disabled):hover {
    outline: 1px solid #ccc;
}

.anvil-data-row-panel {
    /*border: 1px solid pink;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.anvil-data-row-panel > .anvil-data-row-col {
    /*border: 1px solid #888;*/
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
    width: 0px;
    padding: 0px 7px;
}

@media screen and (max-width: 768px) {
    .anvil-runner .anvil-data-grid.anvil-wrap-mobile .anvil-data-row-panel > .anvil-data-row-col {
        min-width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .anvil-runner .anvil-data-grid.anvil-wrap-tablet .anvil-data-row-panel > .anvil-data-row-col {
        min-width: 100%;
    }
}

.anvil-data-row-panel > .anvil-data-row-col.anvil-extra-column {
    width: 100%;
}

.anvil-data-row-panel > .anvil-data-row-col.anvil-extra-column > .anvil-container,
.anvil-data-row-panel > .anvil-data-row-col.anvil-extra-column > .anvil-repeating-panel {
    margin-left: -7px;
    width: calc(100% + 14px);
}

.anvil-paginating .anvil-hide-while-paginating {
    visibility: hidden; /* Because display:none breaks canvas width during pagination */
}

[x-anvil-slot] > code.anvil-slot-name {
    display: none;
}
