#anvil-header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 50px;

    display: none;

    background: #fff;
    z-index: 2;

    color: #fff;
    font-size: 17px;
    padding: 10px;
    padding-top: 0;

    white-space: nowrap;

    img {
        max-height: 25px;
        margin: 13px auto -2px;
        vertical-align: text-bottom;
        display: inline;
    }

    a {
        color: black;
        text-decoration: none;
        font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

        :hover,
        :focus,
        :active {
            color: #333;
        }

        &.cta {
            float: right;
            margin-top: 13px;
        }
    }

}

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-xs-max:              ($screen-sm-min - 1);

.anvil-banner-hidden-xs {
    @media (max-width: $screen-xs-max) {
        display: none !important;
    }
}

.anvil-banner-xs {
    display: none !important;
}

.anvil-banner-xs {
    @media (max-width: $screen-xs-max) {
        display: inline !important;
    }
}

@media print {
    #anvil-header {
        position: static;
        margin-top: -50px;
    }
}

body.anvil-show-banner {
    margin-top: 50px;

    #anvil-header {
        display: block;
    }
}

#anvil-badge img {
    display: none;
    position: fixed;
    width: 350px;
    bottom: -75px;
    right: -150px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media(max-width:768px) {
    #anvil-badge img {
        bottom: -95px;
        right: -170px;
    }
}

body.anvil-show-bottom-banner #anvil-badge img {
    display: block;
}