#error-indicator {
    position: fixed;
    right: 10px;
    bottom: 10px;
    max-width: 90%;
    border-radius: 25px;
    padding: 7px 20px;
    background-color: #800;
    color: #fff;
    z-index: 2000;

    display: none;

    i {
        font-size: 36px;
        margin-right: 15px;
    }

    a {
        color: #fff;
        text-decoration: none !important;
    }

    .headline {
        font-size: 18px;
        margin-left: 50px;
        margin-right: 40px;
    }

    .message {
        font-size: 12px;
        color: #ccc;
        font-weight: bold;
        margin-left: 50px;
    }

    .output {
        display: none;
        margin-left: 50px;
        margin-top: 10px;
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: "Glyphicons Halflings";
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .glyphicon-warning-sign:before {
        content: "\e107";
    }

    .glyphicon-remove:before {
        content: "\e014";
    }
}
