.anvil-spinner {
    top: calc(33% - calc(var(--anvil-spinner-size, 70px) / 2));
    left: calc(50% - calc(var(--anvil-spinner-size, 70px) / 2));
    width: var(--anvil-spinner-size, 70px);
    height: var(--anvil-spinner-size, 70px);
    background-color: var(--anvil-spinner-bg, #fcfcfc);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0px 0px var(--anvil-spinner-shadow, 100px) var(--anvil-spinner-shadow, 100px) var(--anvil-spinner-bg, #fcfcfc);
    pointer-events: none;
}

#loadingSpinner {
    /* Spinner will be displayed initially. Must be explicitly hidden. */
    z-index: 9999;
    position: fixed;
}

.anvil-loading-spinner, .plotly-loading-spinner {
    position: absolute;
}